<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="beanPostProcessor" class="com.springdemo.springbeanlifecycle.MyBeanPostProcessor">
    </bean>

    <bean id="instantiationAwareBeanPostProcessor"
          class="com.springdemo.springbeanlifecycle.MyInstantiationAwareBeanPostProcessor">
    </bean>

    <bean id="beanFactoryPostProcessor" class="com.springdemo.springbeanlifecycle.MyBeanFactoryPostProcessor">
    </bean>

    <bean id="person" class="com.springdemo.springbeanlifecycle.Person" init-method="myInit"
          destroy-method="myDestory" scope="singleton">

        <property name="name">
            <value>张三</value>
        </property>
        <property name="address">
            <value>广州</value>
        </property>
        <property name="phone">
            <value>123</value>
        </property>
    </bean>


</beans>